---
import './ContactForm.styles.css';
import Button from '../ui/form/Button.astro';
import Field from '../ui/form/Field.astro';
import Input from '../ui/form/Input.astro';
import Label from '../ui/form/Label.astro';
import TextArea from '../ui/form/TextArea/TextArea.astro';
import Turnstile from '../Turnstile/Turnstile.astro';

type Props = {
	copy: {
		name: string;
		namePlaceholder: string;
		email: string;
		emailPlaceholder: string;
		message: string;
		messagePlaceholder: string;
		submit: string;
	};
};

const { copy } = Astro.props;
---

<form class="contact__form" id="contact-form">
	<Field class="contact__field">
		<Label for="name" label={copy.name} class="contact__label" required />
		<Input
			id="name"
			name="name"
			type="text"
			placeholder={copy.namePlaceholder}
			class="contact__input"
			required
		/>
	</Field>

	<Field class="contact__field">
		<Label for="email" label={copy.email} required />
		<Input
			id="email"
			name="email"
			type="email"
			placeholder={copy.emailPlaceholder}
			class="contact__input"
			required
		/>
	</Field>

	<Field class="contact__field">
		<Label for="message" label={copy.message} required />
		<TextArea
			id="message"
			name="message"
			placeholder={copy.messagePlaceholder}
			class="contact__textarea"
			required
		/>
	</Field>

	<Field class="contact__captcha">
		<Turnstile id="turnstile-contact" />
	</Field>

	<Button type="submit">{copy.submit}</Button>
</form>
<script>
	import './ContactForm.script.ts';
</script>
